<div class="alterar-container">
    <h1>ALTERAR PRODUTO</h1>
    <form [formGroup]="produtoCadastroForm" (ngSubmit)="alterar()">
        <div fxLayout="row">
            <mat-form-field appearance="outline" class="nomeDescricao" fxFlex="47,5%">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Nome" formControlName="nome">
            </mat-form-field>
            <div fxFlex="5%">

            </div>
            <mat-form-field appearance="outline" class="nomeDescricao" fxFlex="47,5%">
                <mat-label>Marca</mat-label>
                <input matInput placeholder="Marca" formControlName="marca">
            </mat-form-field>
        </div>
        <div fxLayout="column">
            <mat-form-field appearance="outline">
                <mat-label>Código</mat-label>
                <input matInput placeholder="Código" formControlName="id">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Descrição</mat-label>
                <input matInput placeholder="Descrição" formControlName="descricao">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Valor unitário</mat-label>
                <input matInput placeholder="Valor unitário" formControlName="valorUnitario">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Origem</mat-label>
                <mat-select formControlName="origem">
                    <mat-option>Nacional</mat-option>
                    <mat-option>Importado</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <button type="submit" mat-button color="primary">Salvar</button>
    </form>
</div>