<div class="container">
    <div class="row">
        <div class="col-6 offset-3 text-center">
            <div class="card">
                <div class="col-10 offset-1">
                    <div class="card-body">
                        <h5 class="card-title">Bem vindo!</h5>
                        <h6 class="card-subtitle mb-2 text-muted">E vai toma no cu</h6>
                        <div class="example-container">
                            <mat-form-field class="col-12">
                                <input matInput placeholder="Email">
                            </mat-form-field>
                        </div>
                        <div class="example-container">
                            <mat-form-field class="col-12">
                                <input matInput placeholder="Senha">
                            </mat-form-field>
                        </div>
                        <button class="btn-login" color="primary" mat-raised-button>Login</button>
                        <br>
                        <br>
                        <p>Precisando de uma conta? <b>FODA-SE</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>