<mat-toolbar class="toolbar" color="primary">
    <mat-toolbar-row>
        <button mat-button color="secondary" (click)="drawer.toggle()"><i class="fas fa-bars"></i></button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
        <div class="menu">
            <div class="menu-item">
                <button class="buttonMenu" mat-button [matMenuTriggerFor]="usuarios">Usuário</button>

                <mat-menu #usuarios="matMenu">
                    <a class="routerLink" routerLink="cadastroUsuario" routerLinkActive="active" mat-menu-item>
                        Cadastro de usuário
                    </a>
                    <a class="routerLink" routerLink="alterarSenha" routerLinkActive="active" mat-menu-item>
                        Alterar senha
                    </a>
                </mat-menu>
            </div>
            <div class="menu-item">
                <button class="buttonMenu" mat-button [matMenuTriggerFor]="produtos">Produto</button>

                <mat-menu #produtos="matMenu">
                    <a class="routerLink" routerLink="cadastroProduto" routerLinkActive="active" mat-menu-item>
                        Cadastro de produto
                    </a>
                    <a class="routerLink" routerLink="listagemProduto" routerLinkActive="active" mat-menu-item>
                        Listagem de produto
                    </a>
                </mat-menu>
            </div>
            <div class="menu-item">
                <button class="buttonMenu" mat-button [matMenuTriggerFor]="vendas">Venda</button>

                <mat-menu #vendas="matMenu">
                    <a class="routerLink" routerLink="cadastroVenda" routerLinkActive="active" mat-menu-item>
                        Cadastro de venda
                    </a>
                    <a class="routerLink" routerLink="listagemVenda" routerLinkActive="active" mat-menu-item>
                      Listagem de venda
                    </a>
                </mat-menu>
            </div>
        </div>
    </mat-drawer>
    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>