<mat-toolbar class="toolbar" color="primary">
    <mat-toolbar-row>
        <button mat-button color="secondary" (click)="drawer.toggle()"><i class="fas fa-bars"></i></button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
        <div class="menu">
            <div class="menu-item">
                <button class="buttonMenu" mat-button [matMenuTriggerFor]="produtos">Produto</button>

                <mat-menu #produtos="matMenu">
                    <a class="routerLink" routerLink="produto" routerLinkActive="active" mat-menu-item>
                        Ver produtos
                    </a>
                </mat-menu>
            </div>
            <div class="menu-item">
                <button class="buttonMenu" mat-button [matMenuTriggerFor]="vendas">Venda</button>

                <mat-menu #vendas="matMenu">
                    <a class="routerLink" routerLink="venda" routerLinkActive="active" mat-menu-item>
                        Ver vendas
                    </a>
                </mat-menu>
            </div>
        </div>
    </mat-drawer>
    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>