mat-card{
    width: 30%;
    height: 50%;
}

mat-card-subtitle{
    text-align: center;
    margin-bottom: 5%;
}

mat-card-title{
    text-align: center;
    margin-bottom: 5%;
}

mat-form-field{
    width: 90%;
    margin-bottom: 5%;
}

.login-container{
    text-align: center;
}

.login-button{
    width: 90%;
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary{
    color: white;
    background-color: #673ab7;
}