<mat-grid-list cols="1" rowHeight="100vh">
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Login</mat-card-title>
            <mat-card-subtitle>Faça já seu login</mat-card-subtitle>
            <mat-card-content>
                <div class="login-container">
                    <mat-form-field appearance="outline">
                        <mat-label>Usuário</mat-label>
                        <input matInput placeholder="Usuário">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Senha</mat-label>
                        <input matInput placeholder="Senha">
                        <mat-hint>Esqueceu sua senha?</mat-hint>
                    </mat-form-field>
                    <button class="login-button" mat-button color="primary">Entrar</button>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>