mat-card{
    width: 30%;
    height: 60%;
}

mat-card-subtitle{
    text-align: center;
    margin-bottom: 5%;
}

mat-card-title{
    text-align: center;
    margin-bottom: 5%;
}

mat-form-field{
    width: 90%;
    margin-bottom: 5%;
}

.login-container{
    text-align: center;
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary{
    width: 90%;
    color: white;
    background-color: #673ab7;
}

.link-conta{
    color: #808284;
    margin-left: 5%;
    text-align: left;
}

.routerLink{
    text-decoration: none;
}