<div class="cadastro-container">
    <h1>CADASTRO DE PRODUTO</h1>
    <form>
        <div fxLayout="row">
            <mat-form-field appearance="outline" class="nomeDescricao" fxFlex="47,5%">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Nome">
            </mat-form-field>
            <div fxFlex="5%">

            </div>
            <mat-form-field appearance="outline" class="nomeDescricao" fxFlex="47,5%">
                <mat-label>Marca</mat-label>
                <input matInput placeholder="Marca">
            </mat-form-field>
        </div>
        <div fxLayout="column">
            <mat-form-field appearance="outline">
                <mat-label>Descrição</mat-label>
                <input matInput placeholder="Descrição">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Valor unitário</mat-label>
                <input matInput placeholder="Valor unitário">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Origem</mat-label>
                <mat-select>
                    <mat-option>Nacional</mat-option>
                    <mat-option>Importado</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <button type="submit" mat-button color="primary">Cadastrar</button>
    </form>
</div>