<mat-card>
    <mat-card-content>
        <div class="cabecalho">
            <h1>PRODUTOS</h1>
        </div>
        <div fxLayout="row">
            <button  fxFlex="20%" mat-button color="accent" (click)="abrirModalCadastro()"><i class="material-icons">add</i>Produto
            </button>
            <div fxFlex="2%"></div>
            <a href="http://127.0.0.1:3000/api/produto/relatorio/produto" class="botaoCSV" fxFlex="20%" mat-button color="accent"><i class="material-icons">add</i>CSV </a>
        </div>
        <div class="listaProdutos">
            <table mat-table [dataSource]="produtos" class="mat-elevation-z8" fxLayout="Column">
                <ng-container matColumnDef="codigo">
                    <th class="thItem" mat-header-cell *matHeaderCellDef fxFlex="20%"> Código </th>
                    <td class="tdItem" mat-cell *matCellDef="let produtos" fxFlex="20%"> {{produtos.id}} </td>
                </ng-container>

                <ng-container matColumnDef="nome">
                    <th class="thItem" mat-header-cell *matHeaderCellDef fxFlex="20%"> Nome </th>
                    <td class="tdItem" mat-cell *matCellDef="let produtos" fxFlex="20%"> {{produtos.nome}} </td>
                </ng-container>

                <ng-container matColumnDef="descricao">
                    <th class="thItem" mat-header-cell *matHeaderCellDef fxFlex="20%"> Descricão </th>
                    <td class="tdItem" mat-cell *matCellDef="let produtos" fxFlex="20%"> {{produtos.descricao}} </td>
                </ng-container>

                <ng-container matColumnDef="marca">
                    <th class="thItem" mat-header-cell *matHeaderCellDef fxFlex="20%"> Marca </th>
                    <td class="tdItem" mat-cell *matCellDef="let produtos" fxFlex="20%"> {{produtos.marca}} </td>
                </ng-container>

                <ng-container matColumnDef="opcoes">
                    <th class="thItem" mat-header-cell *matHeaderCellDef fxFlex="20%"></th>
                    <td class="tdItem" mat-cell *matCellDef="let produtos" fxFlex="20%">
                        <a (click)="abrirModalAlteracao(produtos)" mat-button><i
                                class="material-icons">border_color</i></a>
                        <a (click)="abrirModalDelete(produtos._id)" mat-button><i class="material-icons">delete</i></a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>