mat-card {
    background-color: #ffffff;
    margin-top: 1vh;
    width: 170vh;
    height: 120vh;
}

mat-card-subtitle {
    text-align: center;
    margin-bottom: 5%;
}

mat-card-title {
    text-align: center;
    margin-bottom: 5%;
}

.listaProdutos {
    margin-top: 1%;
}

table {
    width: 100%;
}

.thItem {
    padding-top: 2%;
}

.tdItem {
    padding-top: 1%;
}

.material-icons {
    padding-right: 5px;
}

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
    min-width: 20px;
}

.mat-button.mat-accent,
.mat-icon-button.mat-accent,
.mat-stroked-button.mat-accent {
    width: 20%;
    color: white;
    background-color: #ffd740;
}