<div class="container-fluid">
  <div class="row">
    <div class="col-10 offset-1">
      <div class="card">
        <div class="col-10 offset-1">
          <div class="card-body">
            <h5 class="card-title text-center">Listagem de usuários</h5>
            <div class="mat-elevation-z8">
              <mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="codigo">
                  <th mat-header-cell *matHeaderCellDef> Código </th>
                  <td mat-cell *matCellDef="let element"> {{usuarios._id}} </td>
                </ng-container>

                <ng-container matColumnDef="usuario">
                  <th mat-header-cell *matHeaderCellDef> Usuário </th>
                  <td mat-cell *matCellDef="let element"> {{usuarios.usuario}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef> Email </th>
                  <td mat-cell *matCellDef="let element"> {{usuarios.email}} </td>
                </ng-container>
              </mat-table>
            </div>
          </div>
        </div>
      </div>
      <button color="primary" mat-button>
        <a routerLink="/login" routerLinkActive="active">Voltar</a>
      </button>
    </div>
  </div>